[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
seldon-core = "*"
torch = "*"
pandas = "*"
torchvision = "*"
opencv-python = "*"
tqdm = "*"
matplotlib = "*"
seaborn = "*"
sklearn = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.9"
